body {
  margin: 0;
  padding: 0;
  background-color: #fffa70;
  font-family: Arial, sans-serif;
}

div {
  text-align: center;
  padding: 50px;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1.5em;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 200px; /* or any size you want */
  height: auto;
}
